In [1]:
import numpy as np
import pandas as pd

Data required to run this file:
- Cleaned base price data
- area_names.csv
- property_desings.csv
- property_types.csv

In [41]:
data = pd.read_csv('/content/CLEAN_RoomBasePrice_11_06_2024.csv')

In [40]:
def convert_column_with_reference(df, reference, source_column, source_reference, target_column):
  conversion_dict = dict(zip(reference[source_reference], reference[target_column]))
  if pd.api.types.is_float_dtype(df[source_column]):
    df[source_column] = df[source_column].astype(int).astype(str)
  df[target_column] = df[source_column].astype(str).apply(lambda x: conversion_dict.get(x))
  df = df.drop(columns=[source_column])
  return df

## Convert area_id into area_names

In [42]:
area_names = pd.read_csv('/content/area_names.csv')

In [43]:
data = convert_column_with_reference(data, area_names, 'area_id','area_id', 'area_name')

## Save dataset

In [49]:
filepath=  'FE_RoomBasePrice.csv'
data.to_csv(filepath)