In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv("/content/RoomPrice_2024_06_11.csv")

Drop NA's based on columns:

In [17]:
data = df.dropna(subset=['average_baseline_price'])

Remove Duplicates

In [18]:
data = data.drop_duplicates(subset=['booking_id'])

KNN impute rating features

In [20]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
data[['rating', 'review_sentiment_score', 'communication', 'cleanliness', 'accuracy']] = imputer.fit_transform(data[['rating', 'review_sentiment_score', 'communication', 'cleanliness', 'accuracy']])

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29766 entries, 13 to 59067
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   room_id                 29766 non-null  float64
 1   unit_id                 29766 non-null  object
 2   booking_id              29766 non-null  object
 3   booking_check_in        29766 non-null  object
 4   created_at              29766 non-null  object
 5   booking_check_out       29766 non-null  object
 6   earnings_in_idr         29766 non-null  float64
 7   earnings_per_day        29766 non-null  float64
 8   average_baseline_price  29766 non-null  float64
 9   rating                  29766 non-null  float64
 10  review_sentiment_score  29766 non-null  float64
 11  communication           29766 non-null  float64
 12  cleanliness             29766 non-null  float64
 13  accuracy                29766 non-null  float64
dtypes: float64(9), object(5)
memory usage: 3.4+ MB

In [22]:
filepath='CLEAN_RoomPrice_11_06_2024.csv'
data.to_csv(filepath)